Source: maunasystem
Section: admin
Priority: optional
Maintainer: Mauna Linux <dev@maunalinux.top>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: maunasystem
Architecture: all
Depends: python3 (>= 3.3),
         perl,
         apt,
         aptitude,
         mauna-common,
         zenity,
         ${misc:Depends},
Breaks: mauna-adjustments
Conflicts: mauna-adjustments
Replaces: mauna-adjustments         
Description: Mauna Linux System Base Package
 Used by the desktop and other Mauna tools to gather
 information and process common system tasks.
